# application.yml (??)
spring:
  profiles:
    active: dev    # ??? dev
  # ?? JPA ?? ?
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
