# application.yml
spring:
  # JPA 설정
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true  # SQL 포맷 보기 좋게 출력
  sql:
    init:
      mode: never

server:
  port: 8080
